/*Generales*/
/*CARDS*/
.container-productos .container-imagenes-producto .productos .card {
  width: 250px;
  height: 350px;
  border-radius: 20px;
  background-color: #dbc42b;
  margin: 10px;
  padding: 20px;
}
.container-productos .container-imagenes-producto .productos .card:hover {
  transform: scale(1.1);
  transition: all 1s;
}

section .container-card-promo .container-promociones .card {
  width: 250px;
  height: 400px;
  border-radius: 20px;
  background-color: #dbc42b;
  margin: 10px;
  padding: 20px;
}
section .container-card-promo .container-promociones .card:hover {
  transform: scale(1.1);
  transition: all 1s;
}

/*TEXTO E IMAGEN CARDS*/
.container-productos .container-imagenes-producto .productos .card .container-imagen-card {
  width: 250px;
  height: 100px;
  margin-bottom: 50px;
}
.container-productos .container-imagenes-producto .productos .card .container-imagen-card .imagen-card {
  max-width: 80%;
  margin-left: 10px;
}
.container-productos .container-imagenes-producto .productos .card div .align {
  text-align: center;
}
.container-productos .container-imagenes-producto .productos .card div .texto-card {
  font-family: "Rubik", sans-serif;
}

@media only screen and (max-width: 960px) {
  .container-home {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .container-home .home-titulo-principal, .container-home .home-description {
    text-align: center;
  }

  .container-nosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .container-nosotros .container-titulo-nosotros .titulo-nosotros, .container-nosotros .container-titulo-nosotros .description-nosotros {
    text-align: center;
  }

  .btn-burger {
    background-color: #F7D705;
  }

  .container-productos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }
  .container-productos .titulo-producto {
    text-align: center;
    margin: 0;
  }

  .container-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
  }
  .container-grid .container {
    width: 200px;
    height: 200px;
  }
  .container-grid .item-grid {
    width: 200px;
    height: 200px;
    margin: 3px;
  }
  .container-grid .item-grid .imagen-caja {
    max-width: 100%;
  }
  .container-grid .item-grid-3, .container-grid .item-grid-4 {
    display: none;
  }

  section container-card-promo {
    margin: 20px;
  }
}
@media only screen and (min-width: 540px) and (max-width: 768px) {
  .container-nosotros {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .container-nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container-nosotros .container-titulo-nosotros .titulo-nosotros, .container-nosotros .container-titulo-nosotros .description-nosotros {
    width: 100%;
    text-align: center;
  }
}
/*Componentes*/
.nav-principal {
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
}

/*Home*/
.container-home {
  display: flex;
  padding: 40px;
  margin-bottom: 60px;
}
.container-home .home-titulo {
  margin-top: 40px;
  padding: 30px;
  font-family: "Rubik", sans-serif;
}
.container-home .home-titulo .home-titulo-principal {
  font-size: 50px;
  color: #F7D705;
  line-height: 50px;
  margin-bottom: 20px;
}
.container-home .home-titulo .home-description {
  font-size: 18px;
  color: #E5DFDF;
}

/*Nosotros*/
.container-nosotros {
  padding: 40px;
  font-family: "Rubik", sans-serif;
  display: flex;
}
.container-nosotros .container-titulo-nosotros {
  padding: 25px;
}
.container-nosotros .container-titulo-nosotros .titulo-nosotros {
  font-size: 40px;
  color: #F7D705;
}
.container-nosotros .container-titulo-nosotros .description-nosotros {
  font-size: 18px;
  color: #E5DFDF;
}
.container-nosotros .container-images-nosotros {
  margin-top: 50px;
}

/*Productos*/
.container-productos {
  margin-top: 60px;
  margin-bottom: 60px;
}
.container-productos .container-titulo-productos .align {
  text-align: center;
}
.container-productos .container-titulo-productos .titulo-producto {
  font-size: 40px;
  color: #F7D705;
  font-family: "Rubik", sans-serif;
}
.container-productos .container-titulo-productos .align {
  text-align: center;
}
.container-productos .container-titulo-productos .description-producto {
  font-size: 18px;
  color: #E5DFDF;
  font-family: "Rubik", sans-serif;
}
.container-productos .container-imagenes-producto {
  display: flex;
  justify-content: center;
}
.container-productos .container-imagenes-producto .productos {
  background-color: #F7D705;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  padding: 40px;
  flex-wrap: wrap;
}
/*Promociones*/
section .container-texto-promo {
  margin-top: 80px;
  margin-bottom: 30px;
}
section .container-texto-promo .align {
  text-align: center;
}
section .container-texto-promo .titulo-producto {
  font-size: 40px;
  color: #F7D705;
  font-family: "Rubik", sans-serif;
}
section .container-texto-promo .align {
  text-align: center;
}
section .container-texto-promo .description-producto {
  font-size: 18px;
  color: #E5DFDF;
  font-family: "Rubik", sans-serif;
}
section .container-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: center;
}
section .container-grid .container {
  width: 200px;
  height: 200px;
}
section .container-grid .item-grid {
  width: 200px;
  height: 200px;
  margin: 3px;
}
section .container-grid .item-grid .imagen-caja {
  max-width: 100%;
}
section .container-card-promo {
  display: flex;
  justify-content: center;
}
section .container-card-promo .container-promociones {
  background-color: #F7D705;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}
section .container-card-promo .container-promociones .card .container-imagen-card {
  width: 250px;
  height: 100px;
  margin-bottom: 80px;
}
section .container-card-promo .container-promociones .card .container-imagen-card .imagen-card {
  max-width: 80%;
  margin-left: 10px;
}
section .container-card-promo .container-promociones .card div .align {
  text-align: center;
}
section .container-card-promo .container-promociones .card div .texto-card {
  font-family: "Rubik", sans-serif;
}
section .container-card-promo .container-promociones .card div .align {
  text-align: center;
}
section .container-card-promo .container-promociones .card div .texto-card {
  font-family: "Rubik", sans-serif;
}
section .container-card-promo .container-promociones .card div .spacing-card-promo .align {
  text-align: center;
}
section .container-card-promo .container-promociones .card div .spacing-card-promo .texto-card {
  font-family: "Rubik", sans-serif;
}

/*Contacto*/
.container-formulario {
  margin-bottom: 40px;
}
.container-formulario .container-texto-form {
  margin-top: 100px;
}
.container-formulario .container-texto-form .text-contacto {
  font-family: "Rubik", sans-serif;
}
.container-formulario .container-texto-form .des-contacto {
  font-family: "Rubik", sans-serif;
}
.container-formulario .container-contacto {
  background-color: #F7D705;
  padding: 30px;
  border-radius: 10px;
}

footer .footer .container-footer {
  width: 100%;
  height: 150px;
  background-color: #F7D705;
  margin: 0;
}
footer .footer .container-footer .container-content-footer {
  width: 300px;
  height: 150px;
  border-radius: 5px;
  padding: 15px;
}
footer .footer .container-footer .container-content-footer .text-footer .texto-footer {
  font-family: "Rubik", sans-serif;
  margin: 3px;
}
footer .footer .container-footer .container-content-footer div .icon {
  margin: 5px;
  height: 40px;
  width: 40px;
}
footer .footer .container-footer .container-content-footer div .icon .icon-footer {
  max-width: 100%;
}

/*BODY*/
body {
  background-color: #212529;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
