/*CARDS*/

%card-1{
    width: 350px;
    height: 350px;
    border-radius: 20px;
    background-color: $color-bg-container-cards;
    margin: 10px;
    padding: 20px;

    &:hover{
            transform: scale(1.1);
            transition: all 1s;
    }

}

%card-2{
    width: 350px;
    height: 400px;
    border-radius: 20px;
    background-color: $color-bg-container-cards;
    margin: 10px;
    padding: 20px;

    &:hover{
            transform: scale(1.1);
            transition: all 1s;
            }
}

/*TEXTO E IMAGEN CARDS*/


%contenido-card{
    .container-imagen-card {
        width: 350px;
        height: 150px;
        margin-bottom: 50px;

        .imagen-card {
            max-width: 70%;
            margin-left: 30px;
            
        }
    }

    div{
        
        .align {
            text-align: center;
        }
        .texto-card {
            font-family: 'Rubik', sans-serif;
        }    
    }
}
