@media only screen and (max-width:960px){
    .container-home{
        display: flex;
        align-items: center;
        flex-direction: column;

        .home-titulo-principal, .home-description{
            text-align: center;
        }
    }

    

    .container-nosotros{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .container-titulo-nosotros{
            .titulo-nosotros,.description-nosotros{
                text-align: center;
            }
        }

    }


    .btn-burger{
        background-color: $color-principal;
    }

    .container-productos{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;

        .titulo-producto{
            text-align: center;
            margin: 0;
        }
    }
    

    .container-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;

        .container {
            width: 200px;
            height: 200px;
        }
        .item-grid {
            width: 200px;
            height: 200px;
            margin: 3px;

            .imagen-caja {
                max-width: 100%;
            }
        }

        .item-grid-3, .item-grid-4{
            display: none;
        }
    }


    section{
        container-card-promo{
            margin: 20px;
        }
    }

}

@media only screen and (min-width:540px) and (max-width:768px){
    .container-nosotros{
        margin: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container-nosotros{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .container-titulo-nosotros{
            .titulo-nosotros,.description-nosotros{
                width: 100%;
                text-align: center;
            }
        }

        
    }
}