/*Nosotros*/
.container-nosotros {
    /*Box model*/
    padding: 40px;
    /**/
    font-family: $fuente;
    /*Flexbox*/
    display: flex;
   

    .container-titulo-nosotros {
         /*Box model*/
        padding: 25px;

        .titulo-nosotros {
            font-size: $size-titulo-2;
            color: $color-principal;
        }

        .description-nosotros {
            font-size: 18px;
            color: $color-texto;
        }
    }


    .container-images-nosotros{
        /*Box Model*/
        margin-top: 50px;     

    }
}

