
/*Contacto*/

.container-formulario {

    /*Box Model*/
    margin-bottom: 40px;

    .container-texto-form{

        /*Box Model*/
        margin-top: 100px;

        .text-contacto {
            font-family: $fuente;
        }

        .des-contacto {
            font-family: $fuente;
        }
    }

    .container-contacto {

        /*BG Color*/
        background-color: $color-principal;

        /*Box Model*/
        padding: 30px;
        border-radius: 10px;
        
    }
}