/*Nosotros*/
.container-nosotros {
    padding: 40px;
    font-family: $fuente;
    display: flex;
   

    .container-titulo-nosotros {

        padding: 25px;

        .titulo-nosotros {
            font-size: $size-titulo-2;
            color: $color-principal;
        }

        .description-nosotros {
            font-size: 18px;
            color: $color-texto;
        }
    }


    .container-images-nosotros{
        margin-top: 50px;     

    }
}

